---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign items = site.publications | where: "category", category[0] | reverse %}
    {% if items.size > 0 %}
      <h2>{{ category[1].title }}</h2><hr />
      <div class="publications__grid">
        {% for post in items %}
          {% include publication-card.html %}
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <div class="publications__grid">
    {% for post in site.publications reversed %}
      {% include publication-card.html %}
    {% endfor %}
  </div>
{% endif %}



